<% include header.ejs %>

<div class="hero-unit">
<h2>About</h2>
<p>We like MIBs and Node. Here is a list of tech used to generate this goodness:</p>
<ul>
<li>
	<%- ["node.js","express","ejs","vows","initializr","GitHub","jQuery"].join('</li>\n<li>') %>
</li>
</ul></div>

<% include footer.ejs %>