<% include header.ejs %>

<table class="table table-hover table-condensed">
   <thead>
       <tr class="success">
           <td>Device</td>
           <td>Alarm Name</td>
           <td>State</td>
           <td>Error Description</td>
       </tr>
   </thead>
   <tbody>
       <tr class="success">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Clear</td>
           <td>Uptime is &gt3 Minutes</td>
       <tr class="warning">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Warning</td>
           <td>Uptime is &gt1 Minute</td>
       <tr class="error">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Error</td>
           <td>Uptime is &lt1 Minute</td>
       <tr class="success">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Clear</td>
           <td>Uptime is &gt3 Minutes</td>
       <tr class="warning">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Warning</td>
           <td>Uptime is &gt1 Minute</td>
       <tr class="error">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Error</td>
           <td>Uptime is &lt1 Minute</td>
       <tr class="success">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Clear</td>
           <td>Uptime is &gt3 Minutes</td>
       <tr class="warning">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Warning</td>
           <td>Uptime is &gt1 Minute</td>
       <tr class="error">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Error</td>
           <td>Uptime is &lt1 Minute</td>
       <tr class="success">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Clear</td>
           <td>Uptime is &gt3 Minutes</td>
       <tr class="warning">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Warning</td>
           <td>Uptime is &gt1 Minute</td>
       <tr class="error">
           <td>snmp.yawnneko.com</td>
           <td>Uptime</td>
           <td>Error</td>
           <td>Uptime is &lt1 Minute</td>
       </tr>
   </tbody>
</table>

<% include footer.ejs %>
