<% include header.ejs %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 bs-docs-sidebar">
        <!--Sidebar content-->
        <ul class="nav nav-list bs-docs-sidenav affix-top">
            <% for(var i=0; i<devices.length; i++) { %>
              <% if(i===0){ %>
                <li class="active" onclick="activeclick(this)" id="<%=devices[i].hostname%>">
                  <a href="#"><%= devices[i].hostname %> 
                      <i class="icon-wrench" onclick=''></i> 
                  </a> 
                </li>
              <% } else{ %>
                <li class="" onclick="activeclick(this)" id="<%=devices[i].hostname%>"><a href="#"><%= devices[i].hostname %><i class="icon-wrench"></i></a> </li>
              <% } %>
            <% } %>
       </ul>
    </div>
    <div class="span9">
      <div class="well">
        <!--Body content-->
        <div class="graphs">
        </div>
      </div>
      <div class="well">
        <% include alarm.ejs %>
      </div>
    </div>
  </div>
</div>

<% include config.ejs %>
<% include footer.ejs %>
