<div class="filebox well"><input type="file" id="files" name="file" />
   <div class="input-append">
       <input id="mibfile" class="input" type="text">
       <a class="btn" onclick="$(\'input[id=files]\').click();">Browse</a>
   </div>
   <div class="list"><output id="list"> </output></div>
</div>