header .brand {
     font-family: 'Audiowide', cursive;
}
footer {
    position:fixed;
    bottom: 10px;
    width: 100%;
    height: 10px;
}

.inputbox-list {
    display:-webkit-flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: space-around;

}
.inputbox-list > .btn{
   -webkit-align-self: center; 
}
.inputbox-list ul{
/*    float:left; */
    list-style-type:none; 

}
#files {
    display:none;
}​

